* {
  margin: 0;
  padding: 0;
}

.contenedor {

  width: 100vw;
}

.div1{
  width: 100%;
  background-image: url("../assets/img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  height: 100vh;
  padding-top: 20px;

}

.cabecera header img{
  border-radius: 50%;
  height: 200px;
  display: block;
  margin: auto;
}
.arrow-down {
  padding-bottom: 20px;
}
.arrow-down img {

  height: 55px;
  display: block;
  margin: auto;
  animation: pulso 2s infinite;

}

@keyframes pulso {
  0% {
      transform: translate(0, 0);
    }
  50% {
      transform: translate(0, 10px);
    }
  100% {
      transform: translate(0, 0);
    }
}

.div2{
  background-color: rgb(147, 89, 114);
}
